@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: Poppins;
}
.options::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
 .options::-webkit-scrollbar-track {
    box-shadow: inset 1px 1px 2px #0D152C; 
    background-color: #0D172E;
  
  }
   
  /* Handle */
  .options::-webkit-scrollbar-thumb {
    background: #FFF;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .options::-webkit-scrollbar-thumb:hover {
    background-blend-mode: color-burn; 
  }